<!DOCTYPE html>
<html>
<head>
    <title>Sample Table</title>
</head>
<body>
    <%- include('header') %>
    <h1>Sample Table</h1>
    <table border="1">
        <tr>
            <th>College Name</th>
            <th>Location</th>
            <th>Programs</th>
        </tr>
        <tr>
            <td>College Name 1</td>
            <td>Location 1</td>
            <td>Program A, Program B</td>
        </tr>
        <tr>
            <td>College Name 2</td>
            <td>Location 2</td>
            <td>Program X, Program Y</td>
        </tr>
        <tr>
            <td>College Name 3</td>
            <td>Location 3</td>
            <td>Program M, Program N</td>
        </tr>
        <!-- Add more rows for additional colleges -->
    </table>
</body>
</html>
