<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="index.css">
    <style>
        #footer {
            background-color: #2294ed;
            color: white;
            text-align: center;
            position: fixed;
            letter-spacing: 2px;
            word-spacing: 5px;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <!--top-banner-->
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text banner-text">Website name</div>
        </div>
    </div>
    <!--nav bar-->
    <nav>
        <div class="container main-nav flex">
            <a href="#" class="company-logo">
                <img src="logo.png" alt="company-logo">
            </a>
            <div class="nav-links ">
                <ul class="flex">
                    <li><a href="/home" class="hover-links">Home</a></li>
                    <li><a href="#" class="hover-links">Find College</a></li>
                    <li><a href="#" class="hover-links">Help</a></li>
                    <li><a href="/about" class="hover-links">About</a></li>
                    <li><a href="/signin" class="hover-links secondary-button">Sign in</a></li>
                    <li><a href="/signup" class="hover-links primary-button">Sign up</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!--header section-->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Seamless Transfers</h1>
                <p>"Elevate Your College Journey!"</p>
                <a href="#" class="primary-button ">Get Started</a>
            </div>
            <div class="header-right">
                <img src="images/asset 2.jpeg" alt="hero image">
            </div>
        </div>
    </header>
    <footer>
        <div class="small-bold-text banner-text" id="footer">Contact us : xxxxxxxxxx</div>
    </footer>
</body>

</html>