<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <div class="outer-box">
        <div class="inner-box">
            <header class="signup-header">
                <h1>Signin</h1>
            </header>
            <main class="signup-body">
                <form action="#">
                    <p>
                        <label for="Username">Username</label></p>
                     <p> <input type="text" id="Username" placeholder="Your name" required>
                    </p>
                    <p>
                        <label for="email">Email ID</label>
                    </p><p><input type="email" id="email" placeholder="xyz@gamil.com" required>
                    </p>
                    <p>
                        <label for="password">Your Password</label>
                    </p>
                    <p>  <input type="password" id="password" placeholder="xyz?125" required>
                    
                        <label for="select">signin as</label>
                    </p>
                    <p>
                        <select id="select">
                            <option value="User">User</option>
                            <option value="University">University</option>
                            <option value="Government">Government</option>                        
                        </select>
                    </p>
                    </p>
                        <a href="#">forget password?</a>
                    <p>
                    <p>
                        <input type="submit" id="Login" value="Signin" required>
                    </p>
                </form>
            </main>
            <footer class="signup-footer">
                <p>Don't have an account?<a href="signup.html">Signup</a> </p>

            </footer>
        </div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>
    </div>

</body>

</html>